
<form method="POST" action="/articles/{{urlTitle}}?_method=PUT">
  Author:<br>
  <input type="text" name="author" value="{{author}}"><br>
  Body:<br>
  <input type="text" name="body" value="{{content}}"><br><br>
  <button type="submit">Edit resource</button>
</form>
{{#if error}}
  <p>{{error}}</p>
{{/if}}
<form method="POST" action="/articles/{{urlTitle}}?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>