
<form method="POST" action="/products/{{id}}?_method=PUT">
  Name:<br>
  <input type="text" name="name" value="{{name}}"><br>
  Price (in USD):<br>
  <input type="number" step=".01" name="price" value="{{price}}"><br>
  Inventory:<br>
  <input type="number" name="inventory" value="{{inventory}}"><br><br>
  <button type="submit">Edit resource</button>
</form>
{{#if error}}
  <p>{{error}}</p>
{{/if}}
<form method="POST" action="/products/{{id}}?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>