{{#if error}}
  <p>{{error}}</p>
{{/if}}
{{#if products.length}}
  <hr>
  {{#each products}}
    <h2>Name: <a href="/products/{{id}}">{{name}}</a></h2>
    <h4>Price: {{price}} USD</h4>
    <h4>Inventory: {{inventory}} units</h4>
    <hr>
  {{/each}}
{{else}}
  <p>There are no products to display!</p>
{{/if}}
  <a href="/products/new"><span>Post a new product.</span></a>