<h2>Name: <a href="/products/{{id}}">{{name}}</a></h2>
<h4>Price: {{price}} USD</h4>
<h4>Inventory: {{inventory}} units</h4>

Not much exciting going on in this page<br>
<a href='/products/{{id}}/edit'>Edit</a>
<a href='/products'>Back</a>